&input
 verbose=.true.
 megaverbose=.true.
 filein='gadget_file.dat'
 nfile=1
 nmpi=-1
 read_mass=.false.
 nfoldpow=6
 ngrid=1024
 norder=3
 shift=0.0 0.0 0.0
 filepower='powspec.dat'
 filepower_fold='#powspec'
 filetaylor='#powspec.taylor'
/
!-----------------------------------------------------------------------
!
! PARAMETERS IN THE CONFIG FILE
! +++++++++++++++++++++++++++++
!
! verbose (.true./.false.) : verbose mode
!
! megaverbose (.true./.false.) : detailed verbose mode
!
! filein ('myfile') : name of the input file
!
! nfile (1/2/3) : type of the input file
!     1 : GADGET file
!     2 : 4 columns ascii file :
!         first line : npart where npart is the number of particles 
!         next lines : x(i),y(i),z(i),mass(i) with x,y,z in [0,1[
!     3 : binary file (C format without record length):
!         npart (integer*4)
!         (pos(1:3,j),j=1,npart)
!         (mass(j),j=1,npart) (optional)
!         pos and mass are real*4
!
! nmpi (-1/positive integer) : number of MPI files for nfile=1
!     (this parameter is thus ignored for nfile=2 or nfile=3)
!     set nmpi=-1 if there is only one file
!
! read_mass (.true./.false.) : .true. for reading the mass in the
!         file, .false. for ignoring it and giving the same mass to
!         all the particles. The parameter read_mass is ignored
!         if nfile=1, where all the masses are supposed
!         to be the same for all the particles. WARNING : the code 
!         has not been tested for unequal masses : this is still under
!         development.
!
! nfoldpow (integer) : folding parameter 
!     - if nfoldpow >= 0, it corresponds to the number 
!     of foldings to be performed. Note that the largest value of k 
!     that will be probed will be kmax=k_nyquist*2^(nfoldpow-1), where 
!     k_nyquist is the nyquist frequency of the grid used to perform the 
!     calculations.
!     - if nfoldpow < 0, then kmax=-nfoldpow is the maximum integer
!     wavenumber up to which one wants to measure the power-spectrum.
!     The number of foldings needed to achieve that is computed 
!     automatically.
!
! ngrid (even positive integer): resolution of the grid used to 
!     perform the calculations.
!     ngrid must be an even number (but not necessarily a power of 2).
!
! norder (positive integer): order of the Taylor expansion. 
!     Norder=3 is the recommended value.
!
! shift(float,float,float) : vector corresponding to a constant shift to 
!     be applied to all the particles prior to the calculation. This 
!     can be handy to improve the accuracy of the measurements for a 
!     slightly perturbed grid. shift is expressed in units of the grid
!     cell size.  
!
! filepower ('powspec.dat') : the name of the main output file where all
!                the informations of the measured power-spectrum are gathered
!                in a handy (but not necessarily optimal in terms of signal
!                to noise or biases) way.
!
!     This is a 6 columns ascii file :
!
!     column 1 : the integer wave number 
!     column 2 : the number of statistically independent modes C(k)
!                contributing to the bin k. This number can be useful to
!                compute errorbars : the statistical error
!                on the rough power-spectrum 
!
!                            P_rough(k)=P(k)+1/Npart  
!
!                is, under the Gaussian field hypothesis,  
!
!                           DP_rough(k)/P_rough(k)=1/sqrt(C(k)) (3)
!
!     column 3 : the estimated rough power spectrum PP_rough(k) before 
!                debiasing from Taylor interpolation. 
!     column 4 : the debiased estimated P_rough(k). To obtain the true
!                power-spectrum, one can subtract the white noise contribution
!                (except for a slightly deformed grid, e.g. initial conditions)
!
!                           P(k)=P_rough(k)-W(k)/N_part, (4)
!
!                where W(k) is given by column 5 and is a number very 
!                close to unity. 
!
!     column 5 : the shot noise factor W(k) very close to unity, needed
!                to correct for shot noise contribution the power spectrum
!                given by equation (4).
! 
!     column 6 : the statistical error computed self-consistently from
!                the dispersion inside each k bin.
!                The number displayed is DP_rough(k)/P_rough(k) and
!                should give in practice something very similar to 
!                equation (3). 
!             
! filepower_fold ('powspec'/'#junk') : root name of the output files where 
!     the measurements are stored separately for each folding. If the
!     name of the file starts with a '#", these optional files are not
!     generated. 
!     
!     Example : if filepower_fold='powspec', then 4 files are created :
!
!     powspec.waven  : the wavenumbers          (1st column of filepower)
!     powspec.nmodes : the number of modes file (second column of filepower)
!     powspec.power  : the rough power-spectrum, prior to debiasing 
!                                               (third column of filepower)
!     powspec.powerdebiased : the debiased rough power-spectrum 
!                                               (fourth column of filepower)
!     powspec.shotfac: the shot noise factor W(k), needed to correct
!                      for shot noise contribution when relevant 
!                                               (5th column of filepower)
!     powspec.staterr: the statistical error    (6th column of filepower)
!           
!
!     More specifically :
!
!     powspec.waven : an ascii file with nfoldpow+1 columns, each column 
!           corresponding to a given folding (first column : no fold,
!           second column : 1 fold, etc). In each column, the integer 
!           wavenumber probed by the calculation is written.
!
!           Example : for ngrid=8 and nfoldpow=3 powspec.waven 
!           looks as follows :
!                 
!                 0    0    0    0
!                 1    2    4    8
!                 2    4    8   16
!                 3    6   12   24
!                 4    8   16   32
!
!     powspec.nmodes : similar as powspec.waven, but the number of modes
!           in the corresponding k-bin is output
!
!     powspec.power : similar as powspec.waven, but the measured value of
!           the rough power-spectrum prior to debiasing is written in 
!           each column.
!
!     Similarly for powspec.powerdebiased, powspec.shotfac,powspec.staterr.
!
! filetaylor ('powspec.taylor'/'#junk') : name of the file containing
!     useful informations for the fourier-taylor calculation. This file
!     is optional and is not output if the name starts with a '#'.
!     This is a multicolumn ascii file, each line corresponds to an
!     integer value of k, starting from 0.
!
!     Column 1 : the number of independent modes C(k)
!     Column 2 : an estimate of L(k)=W(k)*U(k) where U(k) is explained 
!                below
!     Column 3 : approximation for L(k) valid at small k
!     Column 4 : the estimated bias U(k) on the rough power spectrum
!                Basically, debiasing the power-spectrum (i.e. passing
!                from column 3 to column 4 of filepower) consists in
!                multiplying the rough power-spectrum by 1/U(k)
!     Column 5 : The W(k) already mentionned earlier.
! 
!-----------------------------------------------------------------------
